body {
    font-family: 'Ysabeau SC', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url('../storage/bg_body.jpg');
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    overflow-x: hidden;
}

h1,
h2,
h3 {
    margin: 0;
}

button,
.button {
    background-color: #4CAF50;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover,
.button:hover {
    background-color: #45a049;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select,
option,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
}

main {
    margin: 0 auto;
    width: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo {
    width: 50px;
    height: 50px;
}

.navbar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-item {
    margin-right: 20px;
}

.navbar-link {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    transition: 0.5s;
}

.navbar-link:hover {
    color: #b9b9b9;
    transition: 0.3s;
}

.hero {
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 100px 0;
    text-align: center;
}

.hero-content {
    max-width: 600px;
    margin: 0 auto;
}

.hero-title {
    font-size: 36px;
    margin-bottom: 20px;
}

.hero-description {
    font-size: 18px;
    margin-bottom: 40px;
}

.features {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px 0;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

.feature {
    text-align: center;
    margin: 0 20px;
    width: 33%;
}

.feature-icon {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}

.feature-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.feature-description {
    font-size: 14px;
}

.contact {
    background-color: #f9f9f9;
    padding: 50px 0;
    text-align: center;
    height: 80vh;
}

.contact-title {
    font-size: 24px;
    margin-bottom: 20px;
}

.contact-description {
    font-size: 16px;
    margin-bottom: 40px;
}

.contact-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
    margin-bottom: 20px;
}

.contact-form textarea {
    height: 120px;
}

.contact-form {
    margin: 0 auto;
    width: 70%;
}

.contact-button {
    display: inline-block;
    background-color: #ff5722;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.contact-button:hover {
    background-color: #f44336;
}


footer {
    background-color: #333;
    padding: 20px;
    text-align: center;
    color: #fff;
}

.footer-content {
    color: #fff;
}

.footer-text {
    font-size: 14px;
    margin-bottom: 10px;
}

.logo {
    width: 30px;
    height: 30px;
    transition: 0.5s;
}

.logo:hover {
    transition: 0.5s;
    opacity: 0.8;
}

.button {
    display: inline-block;
    background-color: #ff5722;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #f44336;
}

.active {
    color: #ff693b;
}

.active:hover {
    color: #ff5722;
}

.additional-block {
    text-align: center;
    padding: 50px 0;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

.about-section {
    background-color: #f4f4f4;
    padding: 50px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.about-content {
    text-align: center;
    padding: 30px;
    margin: 0 20px;
    padding-bottom: 0px;
}

.about-content h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #333;
}

.about-content p {
    font-size: 18px;
    margin-bottom: 20px;
    color: #555;
}

.about-icons {
    display: flex;
    justify-content: center;
    padding-top: 16px;
    background: rgb(244, 244, 244);
    background: linear-gradient(90deg, rgba(244, 244, 244, 1) 0%, rgba(255, 255, 255, 1) 30%, rgba(255, 255, 255, 1) 70%, rgba(244, 244, 244, 1) 100%);
}

.icon {
    text-align: center;
    margin: 0 20px;
}

.icon img {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
}

.icon p {
    font-size: 16px;
    color: #555;
}

.light {
    background-color: #f8f8f8;
}

.dark {
    background-color: #f4f4f4;
}

.country {
    margin: 0 auto;
    width: 100%;
}

.countries-content {
    text-align: center;
    padding: 30px 0;
    padding-bottom: 0px;
}

.countries-content h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #333;
}

.countries-content p {
    font-size: 18px;
    margin-bottom: 20px;
    color: #555;
}

.country-info {
    padding: 0 40px;
}

.country-wrapper {
    margin: 0 auto;
    padding-top: 10px;
    width: 50px;
    height: auto;
}

.country-img {
    width: 100%;
    height: auto;
}

i {
    font-size: 28px;
    padding: 5px 8px;
    cursor: pointer;
    transition: 0.3s;
}

i:hover {
    opacity: 0.7;
    transition: 0.3s;
}

.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #333;
    color: #fff;
    text-align: center;
    font-size: 24px;
    line-height: 40px;
    cursor: pointer;
    transition: 0.3s;
}

.scroll-to-top:hover {
    background-color: #5a5a5a;
}

@media (max-width: 768px) {
    body {
        font-size: 14px;
        overflow-x: hidden;
    }

    header {
        padding: 10px;
    }

    .navbar {
        flex-wrap: wrap;
    }

    .navbar-item {
        margin-right: 10px;
        margin-bottom: 10px;
    }

    main {
        overflow-x: hidden;
        max-width: 100%;
    }

    .about-icons {
        padding: 16px 10px 0;
    }

    .icon {
        margin: 0 5px;
    }

    .hero {
        padding: 50px 0;
        max-width: 100%;
        max-height: 100%;
    }

    .hero-title {
        font-size: 24px;
    }

    .hero-description {
        font-size: 16px;
    }

    .features {
        flex-wrap: wrap;
        padding: 30px 0;
    }

    .feature {
        width: 100%;
        margin-bottom: 20px;
    }

    .feature-title {
        font-size: 20px;
    }

    .feature-description {
        font-size: 12px;
    }

    .contact {
        padding: 30px 0;
    }

    .contact-title {
        font-size: 20px;
    }

    .contact-description {
        font-size: 14px;
    }

    .contact-form {
        width: 90%;
    }

    .modal-content {
        margin: 5% auto;
        padding: 10px;
        width: 90%;
    }

    .modal-img {
        width: 100%;
        padding: 10px 0;
    }
    
}